html {
    box-sizing: border-box;
}

#game-container {
    display: grid;
    border: 2px solid black;
    height: 100vh;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(12, 1fr);
    gap: .7em;
    background-image: linear-gradient( 111.1deg,  rgb(21, 76, 86) 2.5%, rgba(17,20,34,1) 100.3% );
}

.border {
    border: 2px solid seashell
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1 / span 2;
    grid-column: 1 / span 6;
    z-index: 1;
    background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.5rem;
}
#gold {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1 / span 2;
    grid-column: 7 / span 3;
    background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.3rem;
}


/* stats */ 
#stats-container {
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-row: 1 / span 14;
    grid-column: 1 / span 12;
    background-color: beige;
    gap:.8em;
    height: 97vh;
    visibility: hidden;
    background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.3rem;
}
#stats {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 3 / span 2;
    grid-column: 1 / span 3;
    background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    z-index: 1;
    font-size: 1.4rem;
    cursor: pointer;
}
#hp {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 6 / span 2;
    grid-column : 1 / span 3;
    background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.1rem;
}
#mp {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1vw;
    grid-row: 8/ span 2;
    grid-column: 1 /span 3;
    background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}
#strength {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: white;
    grid-row: 6 / span 2;
    grid-column: 4 / span 4;
    background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;  
}
#dexterity {
    display: flex;
    place-items: center;
    justify-content: center;
    grid-row: 8 / span 2;
    grid-column: 4 / span 4;
    background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#defence {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 6 / span 2;
    grid-column: 8 / span 4;
    background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#magic-defence {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 8 / span 2;
    grid-column: 8 / span 4;
    background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#intelligence {
    display: flex;
    place-items: center;
    justify-content: center;
    grid-row: 10 / span 2;
    grid-column: 4 / span 4;
    background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* store */
#store {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 3 / span 2;
    grid-column: 4 / span 3;
    z-index: 1;
    background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.3rem;
    cursor: pointer;
}

#store-container {    
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-row: 1 / span 14;
    grid-column: 1 / span 12;
    gap:.8em;
    height: 97vh;
    visibility: hidden;
    font-size: 1.2rem;
    background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#buy-health-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 6 / span 2;
    grid-column: 1/ span 3;
    cursor: pointer;
}
#buy-mana-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 5 / span 2;
    grid-column: 5 / span 2;
    grid-row: 8 / span 2;
    grid-column: 1 / span 3;
    cursor: pointer;
}
#brass-knuckles {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 6 / span 2;
    grid-column: 4 / span 3;
    cursor: pointer;
}
#claymore {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 8 / span 2;
    grid-column: 4 / span 3;
    cursor: pointer;
}
#chain-mail {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 10 / span 2;
    grid-column: 4 / span 3;
    cursor: pointer;
}

/*  inventory  */
#inventory {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 3 / span 2;
    grid-column: 7 / span 3;
    z-index: 1;
    background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.3rem;
    cursor: pointer;
}
#inventory-container {
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-row: 1 / span 14;
    grid-column: 1 / span 12;
    background-color:rgb(140, 167, 240);
    gap:.8em;
    height: 98vh;
    visibility: hidden;
    background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#equip-brass-knuckles {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 6 / span 2;
    grid-column: 1 / span 3;
    cursor: pointer;
}

#equip-claymore {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 8 / span 2;
    grid-column: 1 / span 3;
    cursor: pointer;
}

/*  cave */
#cave {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 3 / span 2;
    grid-column: 10 / span 3;
    background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.3rem;
    z-index: 1;
    cursor: pointer;
}
#cave-container {
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-row: 1 / span 14;
    grid-column: 1 / span 12;
    gap:.8em;
    height: 98vh;
    visibility: hidden;
    background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.2rem;
}
#slime {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-row: 6 / span 2;
    grid-column: 1 / span 3;
    
}

#fanged-beast {
    display: flex;
    place-items: center;
    justify-content: center;
    text-align: center;
    grid-row: 8 / span 2;
    grid-column: 1 / span 3;
    
}

#dragon {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 10 / span 2;
    grid-column: 1 / span 3;
        
}

#text-box {
    border: 2px solid black;
    grid-row: 11 / span 2;
    grid-column: 1 / span 12;
    background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.3rem;
    border: 2px solid seashell;
}

#inventory-display {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 13/ span 2;
    grid-column: 1 / span 6;
    background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    border: 2px solid seashell
}




#brass-knuckles.purchased {
   background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
   color: seashell;
    pointer-events: none;
    opacity: 0.7;
}
#claymore.purchased {
    opacity: 0.7;
    
     background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;;
    pointer-events: none;
}
#equip-brass-knuckles.equipped {
    opacity: 0.7;
    background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#equip-claymore.equipped {
    opacity: 0.7;
    background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


#battle-menu {
    display: grid;
    grid-row: 6 / span 3;
    grid-column: 5 / span 6;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(6, 1fr);
    display: none;
    background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.3rem;
}
#battle-text-box {
    background-color: darkgrey;
    grid-row: 9 / span 2;
    grid-column: 5 / span 6;
    display: none;
    font-size: 1.3rem;
}
#battle-attack {
    display: flex;
    place-items: center;
    font-size: 1.1em;
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    display: none;
    cursor: pointer;
}
#battle-dodge {
    display: flex;
    place-items: center;
    font-size: 1.1em;
    grid-row: 1 /span 1;
    grid-column: 3 / span 2;
    display: none;
    cursor: pointer;
}
#battle-abandon {
    display: flex;
    place-items: center;
    font-size: 1.1em;
    grid-row: 1 / span 1;
    grid-column: 5 / span 2;
    display: none;
    cursor: pointer;
}
#monster-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border: 2px solid black;
    grid-column: 1 / span 6;
   
}
#monster-name {
    grid-row: 1 / span 2;
    grid-template-columns: 1 / span 1;
}
#monster-health {
    grid-row: 1 / span 2;
    grid-template-columns: 2 / span 2;
}
#xp {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    grid-row: 1 / span 2;
    grid-column: 10 / span 3;
    background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#restart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 7 / span 2;
    grid-column: 5 / span 6;
    background-color: cornflowerblue;
    border: 2px solid black;
    visibility: hidden;
}
