html {
    box-sizing: border-box;
}

#game-container {
    display: grid;
    border: 2px solid black;
    height: 100vh;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(12, 1fr);
    gap: .8em;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1 / span 2;
    grid-column: 1 / span 6;
    background-color: aqua;
    z-index: 1;
}

/* stats */ 
#stats-container {
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-row: 1 / span 14;
    grid-column: 1 / span 12;
    background-color: beige;
    gap:.8em;
    height: 97vh;
    visibility: hidden;
}
#stats {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 3 / span 2;
    grid-column: 1 / span 3;
    background-color: brown;
    z-index: 1
}
#strength {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: white;
    grid-row: 6 / span 2;
    grid-column: 3 / span 3;
}
#dexterity {
    display: flex;
    place-items: center;
    justify-content: center;
    background-color: chartreuse;
    grid-row: 8 / span 2;
    grid-column: 3 / span 3;
}
#defence {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkmagenta;
    grid-row: 6 / span 2;
    grid-column: 6 / span 3
}
#magic-defence {
    display: flex;
    place-items: center;
    background-color: deepskyblue;
    grid-row: 8 / span 2;
    grid-column: 6 / span 3
}
#intelligence {
    display: flex;
    place-items: center;
    justify-content: center;
    background-color: coral;
    grid-row: 10 / span 2;
    grid-column: 3 / span 3;
}

/* store */
#store {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 3 / span 2;
    grid-column: 4 / span 3;
    background-color: blueviolet;
    z-index: 1;
}

#store-container {    
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-row: 1 / span 14;
    grid-column: 1 / span 12;
    background-color:khaki;
    gap:.8em;
    height: 97vh;
    visibility: hidden;    
}

#buy-health-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 6 / span 2;
    grid-column: 1/ span 3;
    background-color: crimson;
    border: 2px solid black;
}
#buy-mana-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 5 / span 2;
    grid-column: 5 / span 2;
    background-color: beige;
    border: 2px solid black;
    grid-row: 8 / span 2;
    grid-column: 1 / span 3;
}
#brass-knuckles {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkturquoise;
    grid-row: 6 / span 2;
    grid-column: 4 / span 3;
    border: 2px solid black;
}
#claymore {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 8 / span 2;
    grid-column: 4 / span 3;
    background-color: darkgoldenrod;
    border: 2px solid black;
}
#chain-mail {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkmagenta;
    grid-row: 10 / span 2;
    grid-column: 4 / span 3;
    border: 2px solid black;
}

/*  inventory  */
#inventory {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 3 / span 2;
    grid-column: 7 / span 3;
    background-color: bisque;
    border: 2px solid black;
    z-index: 1;
}
#inventory-container {
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-row: 1 / span 14;
    grid-column: 1 / span 12;
    background-color:rgb(140, 167, 240);
    gap:.8em;
    height: 98vh;
    visibility: hidden;
}

#equip-brass-knuckles {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:firebrick;
    grid-row: 6 / span 2;
    grid-column: 1 / span 3;
    border: 2px solid black;
}

#equip-claymore {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 8 / span 2;
    grid-column: 1 / span 3;
    background-color:lightgreen;
    border: 2px solid black;   
    
}

/*  cave */
#cave {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 3 / span 2;
    grid-column: 10 / span 3;
    background-color: cadetblue;
    border: 2px solid black;
    z-index: 1;
}
#cave-container {
      display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-row: 1 / span 14;
    grid-column: 1 / span 12;
    background-color:rgb(13, 130, 67);
    gap:.8em;
    height: 98vh;
}
#slime {
    display: flex;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    grid-row: 6 / span 2;
    grid-column: 1 / span 3;
    background-color: darkolivegreen;

}

#fanged-beast {
    display: flex;
    place-items: center;
    text-align: center;
    grid-row: 8 / span 2;
    grid-column: 1 / span 3;
    background-color: darkkhaki;
    border: 2px solid black;
    
}

#dragon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    grid-row: 10 / span 2;
    grid-column: 1 / span 3;
    border: 2px solid black;
    font-size: 1.3em;;
    
}







#inventory-display {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 11 / span 2;
    grid-column: 1 / span 6;
    background-color: pink;
    border: 2px solid black;
}

#hp {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: darkblue;
    grid-row: 6 / span 2;
    grid-column : 1 / span 2;
    color: seashell;
    font-size: 1.1rem;
}
#mp {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1vw;
    grid-row: 8/ span 2;
    grid-column: 1 /span 2;
    background-color:deepskyblue;
}



#gold {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: greenyellow;
    grid-row: 1 / span 2;
    grid-column: 7 / span 3;
}


#text-box {
    border: 2px solid black;
    grid-row: 13 / span 3;
    grid-column: 1 / span 6;
}

#brass-knuckles.purchased {
   background-color: black;
   color: seashell;
    pointer-events: none;
    opacity: 0.6;
}
#claymore.purchased {
    opacity: 0.6;
     background-color:black;
     color: seashell;
    pointer-events: none;
}
#equip-brass-knuckles.equipped {
    opacity: 0.6;
    background-color: grey;
    pointer-events: none;
}
#equip-claymore.equipped {
    opacity: 0.7;
    background-color: grey;
    pointer-events: none;
}


#battle-menu {
    display: grid;
    grid-row: 13 / span 3;
    grid-column: 7 / span 6;
    background-color: lightseagreen;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(6, 1fr);
}
#battle-text-box {
    background-color: darkgrey;
    grid-row: 11 / span 2;
    grid-column: 7 / span 6;
}
#battle-attack {
    display: flex;
    place-items: center;
    font-size: 1.1em;
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    background-color: blueviolet;
    visibility: hidden;
}
#battle-dodge {
    display: flex;
    place-items: center;
    font-size: 1.1em;
    grid-row: 1 /span 1;
    grid-column: 3 / span 2;
    background-color: bisque;
    visibility: hidden;
}
#battle-abandon {
    display: flex;
    place-items: center;
    font-size: 1.1em;
    grid-row: 1 / span 1;
    grid-column: 5 / span 2;
    background-color: brown;
    visibility: hidden;
}
#monster-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    border: 2px solid black;
    grid-column: 1 / span 6
}
#monster-name {
    grid-row: 1 / span 2;
    grid-template-columns: 1 / span 1;
    background-color: brown;
}
#monster-health {
    grid-row: 1 / span 2;
    grid-template-columns: 2 / span 2;
    background-color: beige;
}
#xp {
    background-color:darkturquoise;
    grid-row: 1 / span 2;
    grid-column: 10 / span 3;
}







#restart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 14 / span 2;
    grid-column: 1 / span 6;
    background-color: cornflowerblue;
    border: 2px solid black;
    visibility: hidden;
}
